/*table css */

.incomeExpensesTable {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  overflow-x: auto;
  width: 98%;
  border-collapse: collapse;
}
.tableSpace {
  padding: 0.2rem;
  text-align: left;
  border-bottom: 0.1rem solid;
  border-right: 0.1rem solid;
  font-size: 1.3rem;
}

.fulltablearea {
  border: grey solid 2px;
  overflow-y: scroll; /* Only vertical scrollbar */
  overflow-x: hidden; /* No horizontal scrollbar */
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: gray lightgray; /* Customize the scrollbar colors */
  max-height: 24rem;
  margin-right: 1rem;
  padding-right: 0.5rem; /* Add padding to avoid cutting off content on the right */
}

.totalamountsbreakdown {
  font-size: 1.3rem;
}
.breakdownheader {
  font-size: 2rem;
}

/*Home Page CSS */
.mainsection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quadrant-content {
  padding: 1rem; /* Adjust the padding value as needed */
  box-sizing: border-box; /* Ensures padding is included in the width and height */
}

.mainheader {
  text-align: center;
  font-size: 2rem;
}

.mainheadertop {
  text-align: center;
  font-size: 3rem;
}

.toparea {
  display: flex;
}
.bottomarea {
  display: flex;
}
.eachquandrant {
  flex: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
  height: 500px; /* Ensure max width for each quadrant */
  width: 1000px;
  justify-content: center;
  align-items: center;
}

/* yearly income expenses area statistics home*/
#bottomright {
  padding-top: 1.5rem;
  padding: 1.8rem; /* Adjust the padding value as needed */
  box-sizing: border-box; /* Ensures padding is included in the width and height */
}
.incomeexpensesmain {
  display: flex;
  flex-direction: column;
  border: black solid;
  justify-content: center;
  align-items: center;
}
.incomeexpensesgraph {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#emergencygraph {
  padding-bottom: 2rem;
}
.incomeexpensesgraphholder {
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.incomeexpensesbutton {
  flex: 1;
}
.graphanddescription {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moredetailedbreakdown {
  flex: 1;
}
.description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 1rem;
  flex: 1;
}

.moredetailedbreakdown {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
}
.incomeexpensesbutton {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 60%;
  box-sizing: border-box; /* Ensures padding and border are included in width */
}
.moredetailedbreakdown p {
  font-size: 1.5rem;
  justify-content: center;
}
.chatgptrecommendations {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.chatgptheader {
  text-align: center;
}

@media (min-width: 2800px) {
  .eachquandrant {
    height: 800px; /* Ensure max width for each quadrant */
    width: 500px;
  }
  .mainsection .incomeexpensesgraphholder {
    height: 300px;
    width: 700px;
  }
}

@media (max-width: 1500px) {
  .graphanddescription {
    flex-direction: column;
  }
  .description {
    text-align: center;
    width: 80%;
  }
  .incomeexpensesgraphholder {
    position: relative;
    height: 900px;
    width: 400px;
  }
  .mainheadertop {
    font-size: 2rem;
  }
  .eachquandrant {
    height: 1000px; /* Ensure max width for each quadrant */
    width: 500px;
  }
}

@media (max-width: 950px) {
  .graphanddescription {
    flex-direction: column;
  }
  .description {
    text-align: center;
    width: 80%;
  }
  .incomeexpensesgraphholder {
    position: relative;
    height: 1000px;
    width: 500px;
  }
  .mainheadertop {
    font-size: 2rem;
  }
  .eachquandrant {
    height: 1000px; /* Ensure max width for each quadrant */
    width: 500px;
  }
  .toparea {
    flex-direction: column;
  }
  .bottomarea {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 555px) {
  .graphanddescription {
    flex-direction: column;
  }
  .description {
    text-align: center;
    width: 50%;
  }
  .incomeexpensesgraphholder {
    position: relative;
    height: 550px;
    width: 350px;
  }
  .mainheadertop {
    font-size: 1.5rem;
  }
  .eachquandrant {
    height: 100px; /* Ensure max width for each quadrant */
    width: 300px;
    border: none;
    border-top: grey solid 2px;
  }
  .toparea {
    flex-direction: column;
  }
  .bottomarea {
    flex-direction: column;
    align-items: center;
  }
  .incomeexpensesmain {
    border: none;
  }
}
/*assets liabilities page */

.entireassetsliabilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
}
.assetsliabilitiesmainsection {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-top: 6rem;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*financial goals page */

.financialGoalsTableHeader {
  text-align: center;
}

.financialgoalsmain {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
  height: 100%;
}
.financialgoalsheader {
  display: flex;
  font-size: 2rem;
  text-decoration: underline;
}
.financialgoalsmainheader {
  border-bottom: grey solid 2px;
  margin-bottom: 1rem;
}
.financialchartholder {
  width: 40%;
  height: 25rem; /* Set a fixed height to ensure it is visible */
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Ensures padding and borders are included in the total width and height */
}
.financialgoalsdescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  gap: 2rem;
  font-size: 1.2rem;
}

@media (max-width: 1500px) {
  .assetsliabilitiesmainsection {
    flex-direction: column;
  }
  .fulltablearea {
    width: 100vw;
    height: auto;
    padding: 1rem;
  }

  .incomeExpensesTable {
    display: block;
    width: 100%; /* Ensure the table takes the full width available */
  }

  .tableSpace {
    word-wrap: break-word; /* Break long words if necessary */
  }
}

@media (max-width: 1600px) {
  .financialgoalsmain {
    flex-direction: column;
  }
  .financialchartholder {
    width: 100%;
  }
  .fulltablearea {
    width: 100vw;
    height: auto;
    padding: 1rem;
  }
  .incomeExpensesTable {
    display: block;
    width: 100%; /* Ensure the table takes the full width available */
  }
}

/* please log in */
.pleaselogin {
  font-size: 4rem;
  text-align: center;
}
.pleaseloginarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}
